/* Mobile */
@media (max-width:739px) {
    
    .hide-on-mobile{
        display: none;
    }
    .header__nav{
        padding: 0;
    }

    
    .calenda__tablet{
        display: block;
    }

    .contact__info{
        margin-left: 0;
    }
    
    .contact__map{
        padding-left: 0px;
        padding-top: 32px;
        padding-right: 0;
    }
    
    .footer__decs{
        text-align: center;
    }
    
    .footer__info{
        padding-top: 16px;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width:1239px) {
    
    .hide-on-tablet{
        display: none;
    }
}

/* Mobile and tablet */
@media (max-width:1240px){
    
    .hide-on-tablet-mobile{
        display: none;
    }

    .header__navbar-icon{
        display: inline-block;
    }
    .started__calenda{
        border: none;
        padding-left: 0;
    }
    .contact__map{
        
        padding-right: 0;
    }
}